<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nltechno.dolidroidpro"
    android:versionCode="50"
    android:versionName="DoliDroid Pro 2.2"
    android:installLocation="auto"
    >
    <!-- Remove android:installLocation="preferExternal" to always install on external storage, use "auto" for default internal -->

    <!-- Some Chromebooks don't support touch. Although not essential,
         it's a good idea to explicitly include this declaration. -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <!--<uses-feature android:name="android.hardware.camera" android:required="false" />-->
    <uses-feature android:name="android.hardware.camera2.full" android:required="false" />

    <!-- Normal permissions (PROTECTION_NORMAL) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    <!-- Permission in group android.permission-group.STORAGE -->

    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:allowBackup="true" android:name="DoliDroid" android:logo="@drawable/ic_launcher"
        android:usesCleartextTraffic="true"
        android:description="@string/dolidroidLabel"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- Because we need apache HTTP client for download -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/DoliDroidThemeFirst"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/DoliDroidThemeFirst"
            android:configChanges="orientation|screenSize"
            >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/DoliDroidThemeAbout" >
        </activity>
        <activity
            android:name=".InAppActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/DoliDroidThemeAbout" >
        </activity>

        <!-- Define a broadcastreceiver -->
        <receiver android:name="com.nltechno.dolidroidpro.DownloadBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

    </application>


    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>
